.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  color: rgba(0, 0, 0, 0.8203);
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8203);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bfeaee;
}

.App .primaryBg {
  background-color: #bfeaee;
}

.App .highlightTextColor {
  color: #0091d5;
}

.App .highlightBg {
  background-color: #0091d5;
}

/* Styles to customize the UI framework plugin (MUI) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
}
.mui-btn--primary {
    background-color: #bfeaee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c6ecef;
}
.mui-btn--accent {
    background-color: #0091d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #199cd9;
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 17.2px;
  font-weight: 400;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 21.5px;
  font-weight: 400;
}

.App .navBar {
  background-color: #bfeaee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .layoutFlow {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
}
.App .layoutFlow:after {
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .compContent {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .hasNestedComps .foreground {
  position: absolute;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .CommentItem {
    height: 77px;
    width: 100%; /* This component was designed using a width of 284px */
  }


  .CommentItem .elUsername {
    padding-left: 0px;
    padding-right: -0px;
    margin-top: 10px;
  }
  .CommentItem .elUsername > * { 
    width: 100%;
  }
  


  .CommentItem .elLine {
    padding-left: 0px;
    padding-right: 3px;
    margin-top: 2px;
  }
  .CommentItem .elLine > * { 
    width: 100%;
  height: 2px;
  }
  


  .CommentItem .elText {
    padding-left: 0px;
    padding-right: -0px;
    margin-top: 2px;
  }
  .CommentItem .elText > * { 
    width: 100%;
  }
  

/* This component has a fixed-size layout */
  .PostComment {
    height: 181px;
    width: 100%; /* This component was designed using a width of 234px */
  }


  .PostComment .elUsername {
    padding-left: 4px;
    padding-right: 5px;
    margin-top: 0px;
  }
  .PostComment .elUsername > * { 
    width: 100%;
  }
  


  .PostComment .elText {
    padding-left: 4px;
    padding-right: 5px;
    margin-top: 16px;
  }
  .PostComment .elText > * { 
    width: 100%;
  }
  


  .PostComment .elPostButton {
    padding-right: 42px;
    margin-top: 22px;
  }
  .PostComment .elPostButton > * { 
  margin-right: 0;
  margin-left: auto;
  width: 145px;
  }
  


/* Narrowest size for this element's responsive layout */
  .StartScreen > .background > .elBackgroundShape {
    position: absolute;
    left: 0px;
    right: -0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
@media (min-width: 568px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: -0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: -0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .StartScreen > .background > .elBackgroundShape {
    left: 0px;
    right: -0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elTextBlock {
    padding-left: 20px;
    margin-top: 28px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 277px;
  }
  
@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elTextBlock {
    padding-left: 20px;
    margin-top: 28px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 277px;
  }
  
}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elTextBlock {
    padding-left: 20px;
    margin-top: 28px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 275px;
  }
  
}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elTextBlock {
    padding-left: 20px;
    margin-top: 28px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 275px;
  }
  
}



/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elList {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 41px;
  }
  .StartScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elList .fullHeight {
    min-height: 154px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elList {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 41px;
  }
  .StartScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elList .fullHeight {
    min-height: 154px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elList {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 41px;
  }
  .StartScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elList .fullHeight {
    min-height: 154px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elList {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 41px;
  }
  .StartScreen > .layoutFlow > .elList > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elList .fullHeight {
    min-height: 154px;
  }

}


/* Narrowest size for this element's responsive layout */
  .StartScreen > .layoutFlow > .elPostComment {
    padding-left: 20px;
    padding-right: 22px;
    margin-top: 32px;
  }
  .StartScreen > .layoutFlow > .elPostComment > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elPostComment .fullHeight {
    min-height: 158px;
  }

@media (min-width: 568px) {
  .StartScreen > .layoutFlow > .elPostComment {
    padding-left: 20px;
    padding-right: 22px;
    margin-top: 32px;
  }
  .StartScreen > .layoutFlow > .elPostComment > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elPostComment .fullHeight {
    min-height: 158px;
  }

}
@media (min-width: 768px) {
  .StartScreen > .layoutFlow > .elPostComment {
    padding-left: 20px;
    padding-right: 22px;
    margin-top: 32px;
  }
  .StartScreen > .layoutFlow > .elPostComment > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elPostComment .fullHeight {
    min-height: 158px;
  }

}
@media (min-width: 1024px) {
  .StartScreen > .layoutFlow > .elPostComment {
    padding-left: 20px;
    padding-right: 22px;
    margin-top: 32px;
  }
  .StartScreen > .layoutFlow > .elPostComment > * { 
    width: 100%;
  }
  
  .StartScreen > .layoutFlow > .elPostComment .fullHeight {
    min-height: 158px;
  }

}

.Screen5 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


.Screen6 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


/* This component has a fixed-size layout */
  .Component1 {
    height: 114px;
    width: 100%; /* This component was designed using a width of 182px */
  }

